<!DOCTYPE html>
<html>
<head>
<title>Tobi's Coding Exercise</title>
</head>
<body>
	<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1 id="title">Tobi's Elevator Routing Coding Exercise</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table" id="systemUI">
	  		<tr>
			    <th>Floor</th>
			    <th>Request</th> 
			    <th>Elevator 1</th>
			    <th>Elevator 2</th>
			    <th>Elevator 3</th>
		  	</tr>
		  	<tr>
		  		<td>5</td>
		  		<td>
		  			<div id="request-down-5" class="requestButton">
		  				<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
		  			</div>
		  		</td>
		  		<td><div class="bus"><span class="glyphicon glyphicon-sound-dolby hidden" aria-hidden="true"></div></td>
		  		<td><div class="bus"><span class="glyphicon glyphicon-sound-dolby hidden" aria-hidden="true"></div></td>
		  		<td><div class="bus"><span class="glyphicon glyphicon-sound-dolby hidden" aria-hidden="true"></div></td>
		  	</tr>
		  	<tr>
		  		<td>4</td>
		  		<td>
		  			<div id="request-down-4" class="requestButton">
		  				<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
		  			</div>
		  			<div id="request-up-4" class="requestButton">
		  				<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
		  			</div>
		  		</td>
		  		<td><div class="bus"><span class="glyphicon glyphicon-sound-dolby hidden" aria-hidden="true"></div></td>
		  		<td><div class="bus"><span class="glyphicon glyphicon-sound-dolby hidden" aria-hidden="true"></div></td>
		  		<td><div class="bus"><span class="glyphicon glyphicon-sound-dolby hidden" aria-hidden="true"></div></td>
		  	</tr>
		  	<tr>
		  		<td>3</td>
		  		<td>
		  			<div id="request-down-3" class="requestButton">
		  				<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
		  			</div>
		  			<div id="request-up-3" class="requestButton">
		  				<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
		  			</div>
		  		</td>
		  		<td><div class="bus"><span class="glyphicon glyphicon-sound-dolby hidden" aria-hidden="true"></div></td>
		  		<td><div class="bus"><span class="glyphicon glyphicon-sound-dolby hidden" aria-hidden="true"></div></td>
		  		<td><div class="bus"><span class="glyphicon glyphicon-sound-dolby hidden" aria-hidden="true"></div></td>
		  	</tr>
		  	<tr>
		  		<td>2</td>
		  		<td>
		  			<div id="request-down-2" class="requestButton">
		  				<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
		  			</div>
		  			<div id="request-up-2" class="requestButton">
		  				<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
		  			</div>
	  			</td>
		  		<td><div class="bus"><span class="glyphicon glyphicon-sound-dolby hidden" aria-hidden="true"></div></td>
		  		<td><div class="bus"><span class="glyphicon glyphicon-sound-dolby hidden" aria-hidden="true"></div></td>
		  		<td><div class="bus"><span class="glyphicon glyphicon-sound-dolby hidden" aria-hidden="true"></div></td>
		  	</tr>
		  	<tr>
		  		<td>1</td>
		  		<td>
		  			<div id="request-up-1" class="requestButton mainFloor">
		  				<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
		  			</div>
	  			</td>
		  		<td><div class="bus"><span class="glyphicon glyphicon-sound-dolby" aria-hidden="true"></div></td>
		  		<td><div class="bus"><span class="glyphicon glyphicon-sound-dolby" aria-hidden="true"></div></td>
		  		<td><div class="bus"><span class="glyphicon glyphicon-sound-dolby" aria-hidden="true"></div></td>
		  	</tr>
		  	<tr>
		  		<td></td>
		  		<td></td>
		  		<td>
		  			<div class="elevatorController">
		  				<div id="elevator-1-destination-5" class="setDestinationButton"><span>5</span></div>
		  				<div id="elevator-1-destination-4" class="setDestinationButton"><span>4</span></div>
		  				<div id="elevator-1-destination-3" class="setDestinationButton"><span>3</span></div>
		  				<div id="elevator-1-destination-2" class="setDestinationButton"><span>2</span></div>
		  				<div id="elevator-1-destination-1" class="setDestinationButton"><span>M</span></div>
		  			</div>
	  			</td>
		  		<td>
		  			<div class="elevatorController">
		  				<div id="elevator-2-destination-5" class="setDestinationButton"><span>5</span></div>
		  				<div id="elevator-2-destination-4" class="setDestinationButton"><span>4</span></div>
		  				<div id="elevator-2-destination-3" class="setDestinationButton"><span>3</span></div>
		  				<div id="elevator-2-destination-2" class="setDestinationButton"><span>2</span></div>
		  				<div id="elevator-2-destination-1" class="setDestinationButton"><span>M</span></div>
		  			</div>
		  		</td>
		  		<td>
		  			<div class="elevatorController">
		  				<div id="elevator-3-destination-5" class="setDestinationButton"><span>5</span></div>
		  				<div id="elevator-3-destination-4" class="setDestinationButton"><span>4</span></div>
		  				<div id="elevator-3-destination-3" class="setDestinationButton"><span>3</span></div>
		  				<div id="elevator-3-destination-2" class="setDestinationButton"><span>2</span></div>
		  				<div id="elevator-3-destination-1" class="setDestinationButton"><span>M</span></div>
		  			</div>
		  		</td>
		  	</tr>
		</table>
		</div>		
	</div>
</div>
</body>
</html>
